* {
    margin: 0;
    padding: 0;
}

.main-class {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    height: 500vh;
}

.form-class {
    margin-top: 50px;
    width: 300px;
    background-color:  #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.label-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label-container label {
    margin-right: 10px;
    font-weight: bold;
}



.label-container input[type="text"] { 
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.label-container input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button-container button[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
  }